<h2><%= @user.name %></h2>

<% if @user == current_user %>
  Variants for approve:<br/>
  <% @user.variants_for_approve.each do |variant| %>
    <%= link_to variant.package.name, package_variant_path(variant.package, variant) %>
  <% end %>
<% end %>