		  <div id="footer" class="grid_12">
		    Developed by <a href="mailto:ceo@prepor.ru">Andrew Rudenko</a> | source code <a href="http://github.com/prepor/gg">here</a>
	    </div>
		</div>
  </body>
</html>