<div class="grid_6">
  <div class="install_tutorial">

    <div class="install_block">
	    <div class="desc">
	      Add to /etc/apt/source.list
      </div>
      <div class="code">
        deb http://gg.prepor.ru/debian
      </div>
    </div>
    <div class="install_block">
	    <div class="desc">
	      Update local packages list
      </div>
      <div class="code">
        aptitude update
      </div>
    </div>
  
    <div class="install_block">
	    <div class="desc">
	      Install any gem via apt-utils
      </div>
      <div class="code">
        aptitude install gem-rails
      </div>
    </div>
  </div>

</div>

<div class="grid_6">
  <div id="counter">
    <div class="number"><%= number_with_delimiter Package.count %> debs now</div>
  </div>
  
  <p>GoodGem is simple apt-ready wrapper around gems. It has all Gemcutter's gems, updated daily and absolutely free.</p>
  
  <h4>For what</h4>
  	<p>Talk with admins and users in one language. If Ruby-written app to end users, not targeted at developers, it will be much accustomed to see the apt-get install gem-god.</p>
  	<p>Many gems are has native extensions, who in turn tend to have their dependencies, not connected with the gem. So, with GoodGem can be added according to the apt (mysql-dev), and in addition describe the keys to build specific to a particular platform (everything here as in the usual apt-repo, you can make different versions for platforms and architectures) . And in general, any recipes, such as the establishment of the same init-script.</p>
  	
  <h4>Maintainers</h4>
    <p>This site is only for maintainers. You can suggest your own variant of scripts. Once approved by any package maintainers, you yourself become a maintainer. Easy.</p>
    
  <h4>Roadmap</h4>
  <ul>
    <li>Accumulate gems dependencies to deb dependencies. If gem em-mysql is dependent on mysqlplus, and mysqlplus deb is dependent on mysql, em-mysql deb should dependent on mysql.</li>
    <li>Gemcutter's webhooks support for realtime updates</li>
    <li>Maintainers ability to add 2-3 major versions of gem (rails2, rails3).</li>
  </ul>
</div>